@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
}

header{    
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    box-shadow: 3px 7px 14px rgba(0, 0, 0, 0.3)  ; 
	-webkit-box-shadow: 3px 7px 14px rgba(0, 0, 0, 0.3)  ; 
	-moz-box-shadow: 3px 7px 14px rgba(0, 0, 0, 0.3)  ; 
    
    
}
.main-header-day{
     background: #3b7cdd;
     
}

.main-header-night{
    background: #132151;
    
}

.title>h1{
    color: #e1dad8;
}

.clouds>img {
    width: 300px;
    margin: 10px;
}

.clouds, 
.title, 
.clock{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.clouds>img{
    height: 120px;
    width: 120px;
}

.salutation{
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    color: #e1dad8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noite{
    background: #132151
}
.amanhecendo{
    background: rgb(25,23,185);
    background: linear-gradient(180deg, rgba(25,23,185,1) 0%, rgba(237,129,189,1) 50%, rgba(250,227,19,0.9288300304878049) 92%);
}
.dia{
    background: #378cfa
}
.anoitecendo{
    background: rgb(25,23,185);
    background: linear-gradient(180deg, rgba(25,23,185,1) 31%, rgba(151,57,236,1) 61%, rgba(250,227,19,0.9288300304878049) 89%);
}
